@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    height: 8rem;
    padding: 3rem;
    background-color: var(--prim);
    border-top: 1px solid var(--beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-options h2 {
    color: var(--beige);
    font-size: 2rem;
    font-family: var(--sans);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    flex: 0 0 23rem;
}
.filter-options select {
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--beige);
    height: 4.5rem;
    font-size: 1.6rem;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    width: 30%;
    min-width: 20rem;
    border: 2px solid transparent;
    flex: 1;
}

select:focus {
    outline: none;
    border: 2px solid var(--scnd-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.filter-options option {
    font-size: 1.6rem;
    background-color: var(--beige);
    color: var(--scnd-light);
}

.filter-options select:last-child {
    margin-left: 3rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 3rem 3rem 0;
    text-align: center;
}
#restaurants-list li {
    background-color: #fff;
    margin-bottom: 3rem;
    width: calc(33.3333% - 2rem);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--fade);
}

#restaurants-list li:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
}
#restaurants-list li h1 {
    color: var(--prim);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: 2rem 2rem 0;
    text-transform: uppercase;
}
#restaurants-list p {
    margin: 1rem 2rem 0;
    font-size: 1.4rem;
}
#restaurants-list li a {
    background-image: linear-gradient(to right bottom, var(--scnd-light), var(--scnd-dark));
    color: var(--beige);
    font-size: 1.4rem;
    margin: 1.5rem 0 0;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 3px;
    align-self: flex-end;
}
/* ====================== Restaurant Details ====================== */
/*Some of the code below inspire from https://github.com/amr-adel/fend-p6-restaurant-reviews*/
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

#restaurant-container::after {
    content: '';
    display: table;
    clear: both;
}

#restaurant-name {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0 3rem;
    line-height: 8rem;
    color: var(--beige);
    background-color: var(--prim);
    border-top: 1px solid var(--beige);
}
#restaurant-img {
    width: calc(50% - 6rem);
    margin: 3rem;
    float: left;
    border-radius: 3px;
}
#restaurant-cuisine {
    background-color: var(--scnd-light);
    color: var(--beige);
    font-size: 1.6rem;
    margin: 3rem 3rem 0 0;
    padding: 1rem 4rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    border-radius: 3px;
    float: left;
}
#restaurant-address {
    float: left;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--prim);
    width: calc(50% - 3rem);
    margin: 3rem 3rem 0 0;
}
#restaurant-hours {
    width: calc(50% - 3rem);
    float: left;
    margin: 3rem 3rem 0 0;
    border-spacing: 0;
}
#restaurant-hours td {
    color: var(--grey-dark);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--scnd-light);
}
#reviews-container {
    padding: 3rem;
    width: 100%;
}
#reviews-container h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-family: var(--sans);
    text-align: left;
    padding: 0 3rem;
    line-height: 6rem;
    background-color: var(--beige);
    color: var(--prim);
    border-left: 1rem solid var(--prim);
    border-radius: 3px;
    margin-bottom: 3rem;
}
#reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
#reviews-list li {
    width: calc(33.3333% - 2rem);
    background-color: #fff;
    margin-bottom: 3rem;
    padding: 3rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 3px;
    border-top: 1rem solid var(--scnd-light);
    border-bottom: 1rem solid var(--prim);
}
#reviews-list .author {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--prim);
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--prim);
}

#reviews-list .date {
    text-align: right;
    font-size: 1.2rem;
    color: var(--grey-dark);
    display: block;
}

#reviews-list .rating {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: .5rem 1.5rem;
    color: var(--beige);
    background-color: var(--scnd-light);
    display: inline-block;
    border-radius: 3px;
    margin: 1.5rem 0;
}



/********************* media Qurey **************************/

@media only screen and (max-width : 600px) {
  body {
    background-color: #f7f7f7;
  }
  footer {
    line-height: 10vh;
  }
  p {
    font-weight: lighter;
    font-size: 1.25em;
    padding: 1em 2em;
  }
  p.neighborhood-type {
    font-size: 0.75em;
  }
  #breadcrumb > a {
    letter-spacing: 4px;
  }
  #main-title {
    font-size: 2.5rem;
    line-height: 15vh;
    margin-bottom: 1em;
  }
  #map {
    height: 40vh;
  }
  #more-details {
    letter-spacing: 5px;
    font-size: 1em;
  }
  #neighborhoods-select, #cuisines-select{
    width: 90vw;
    margin: 1em;
  }

  #restaurants-list {
    margin-bottom: 3em;
  }
  .filter-options {
    margin-bottom: 1.5em;
  }
}
/* Tablets sizes*/
@media only screen and (min-width : 600px) {
  body {
    background-color: #f7f7f7;
  }
  p {
    font-size: 1.25em;
    padding: 0 1em;
  }
  p.neighborhood-type {
    font-size: 1em;
    font-weight: 100;
  }
  #restaurant-container > #restaurant-name {
    font-size: 3em;
  }
  #main-title {
    margin-top: 3em;
    font-size: 3em !important;
  }
  #main-title > a {
    font-size: 3em;
  }
  #map-container {
    margin-top: 2em;
  }
  #map {
    height: 40vh;
  }
  #more-details {
    font-size: 1.25em;
    letter-spacing: 5px;
  }
  #neighborhoods-select, #cuisines-select{
    width: 45vw;
    margin: 3em 0.5em;
  }
  #cover-image > #restaurant-img {
    margin: -20vh 0;
  }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    background-color: #f7f7f7;
  }
  p {
    padding: 1em 2em;
    font-size: 1em;
  }
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  #restaurant-container > #restaurant-name {
    font-size: 3em;
  }
  #map-container {
    margin-top: 2em;

  }
  #main-title {
    font-size: 4em;
  }
  #map {
    height: 60vh;
  }
  #more-details {
    font-size: 0.75em;
    padding: 2em 0;
  }
  #restaurant-hours {
    font-size: 1em;
  }
  #cover-image > #restaurant-img {
    margin: -30vh 0;
  }


}

/* Medium Devices, Desktops, and beyond */
@media only screen and (min-width : 992px) {
  body {
    background-color: orange;
  }
  h1 {
    font-size: 2em;
    padding: 0 0.75em;
  }
  #neighborhoods-select, #cuisines-select{
    width: 42vw;
  }
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  .columns {
    float: left;
    position: relative;
  }
}


@media screen and (max-width: 1200px) {
    .container {
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 55%;
    }
}
